/* Global Styles ----------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Home Page ---------------------*/

body {
  width: 100%;
  background: url(/Images/joshua-earle-t6QYC3Zmis0-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom right;
  font-family: futura, sans-serif;
  margin: auto;
}
.home__main-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  /* height: calc(100vh - 73px); */
  height: 88.9vh;
  align-items: center;
}
.home__text {
  width: 1000px;
  padding: 0 350px 0 200px;
}
.social-icons {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  color: #fff;
  list-style-type: none;
}
.social-link:hover, nav a:hover {
color: #d42d59;
cursor: pointer;
}
.social-link {
  padding: 55px 30px 55px 0;
}
.text-left {
  margin-right: auto;
  max-width: 400px;
}
.social-right {
  margin-left: auto;
  margin-top: 0;
}

/* NAV -------------------------*/

header {
  background-color: rgba(107, 134, 153, 0.3);
  -webkit-backdrop-filter: blur(18px);
  padding: 10px 0px;
  font-size: 1rem;
  text-transform: uppercase;
}
.dividend {
  display: flex;
  justify-content: space-between;
}
.logo {
  max-width: 100px;
}
nav, #hamburger-menu {
  display: none;
  }
nav {
  width: 100%;
  padding: 10px 20px;
  font-size: 1rem;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
nav ul {
  display: flex;
  gap: 80px;
  padding-left: 52vw;
  list-style-type: none;
}
.hamburger-label {
  float: right;
  color: #FFF;
  padding: 10px 10px;
  font-size: 1.5em;
  /* align-items: flex-end ; */
}
nav li {
  margin: 0;
  padding: 0;
  
}
nav a { 
  color: #fff;
  text-decoration: none;
  margin: auto;
  display: flex;
  flex-direction: row;
  margin-right: auto;
}

/* Media Queries       
--------------------- */

#hamburger-menu:checked ~ nav {
    display: block;
}
/* mobile and tablet - 1024px and smaller */
@media(max-width: 1024px){
    .hamburger-label {
      display: flex;
    }
    nav ul {
      display: none;
    }
    .home__text {
      display: flex;
      padding: 0;
      background-position: center;
      background-size: contain;
      width: 100%;
      margin: auto;
    }
    .social-icons {
      display: flex;
      align-items: flex-end;
      padding-bottom: 250px;
    }
    .social-link {
      float: right;
    }
    .home__main-container {
      display: block;
    }
    .div21, .div22 {
      display: block;
    }
  }

  /* laptops and desktops - 1025px and bigger */
  @media(min-width: 1025px){
    .hamburger-label {
      display: none;
    }

    
  }
