/* Global Styles
-------------------------------- */
* {
  margin: 0;
  padding: 0;
}

/* Home Page       
--------------- <Nav section> */
ul {
  display: flex;
}
nav li {
  list-style-type: none;
}
nav a {
  text-decoration: none;
  padding: 10px;
}

/* -------------- <Main section> */
main img {
  width: 100%;
}
